<div class="container">

  <p>
    <strong>Mi propiedad:</strong>
    <%= @reporte_mi_propiedad.mi_propiedad %>
  </p>

  <p>
    <strong>Tipo de demanda:</strong>
    <%= @reporte_mi_propiedad.tipo_de_demanda %>
  </p>

  <p>
    <strong>A単os de analisis:</strong>
    <%= @reporte_mi_propiedad.a単os_de_analisis %>
  </p>

  <p>
    <strong>Plusvalia historica:</strong>
    <%= @reporte_mi_propiedad.plusvalia_historica %>
  </p>

  <p>
    <strong>Proyeccion plusvalia:</strong>
    <%= @reporte_mi_propiedad.proyeccion_plusvalia %>
  </p>

  <p>
    <strong>A単os de proyeccion:</strong>
    <%= @reporte_mi_propiedad.a単os_de_proyeccion %>
  </p>

  <p>
    <strong>Plusvalia colonia:</strong>
    <%= @reporte_mi_propiedad.plusvalia_colonia %>
  </p>

  <p>
    <strong>Plusvalia municipio:</strong>
    <%= @reporte_mi_propiedad.plusvalia_municipio %>
  </p>

  <p>
    <strong>Plusvalia estatal:</strong>
    <%= @reporte_mi_propiedad.plusvalia_estatal %>
  </p>

  <p>
    <strong>Precio midprice:</strong>
    <%= @reporte_mi_propiedad.precio_midprice %>
  </p>

  <p>
    <strong>Precio bidlow:</strong>
    <%= @reporte_mi_propiedad.precio_bidlow %>
  </p>

  <p>
    <strong>Precio askhigh:</strong>
    <%= @reporte_mi_propiedad.precio_askhigh %>
  </p>

  <%= link_to 'Edit', edit_reporte_mi_propiedad_path(@reporte_mi_propiedad) %> |
  <%= link_to 'Back', reporte_mi_propiedads_path %>
</div>