<div class="container">
	<h1><%= @user.name %></h1>
	<p><%= @user.email %></p>
  <div class="row">
    <div class="col-md-5">
      <div class="card text-center">
        <div class="card-header">Nuevo Reporte
        </div>
        <div class="card-body">
          <h5 class="card-title">Reporte de tu Propiedad</h5>
            <p>Bienvenido <%= link_to current_user.name, user_path(current_user.id) %></p>
          <p class="card-text">Aqui puedes consultar tu reporte.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> 
        </div>
        <div class="card-footer text-muted">2 days ago
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <% @mi_propiedads.each do |mi_propiedad| %>
        <div class="card mb-3">
          <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Propiedad</h5>
                <p class="card-text">
                  <%= mi_propiedad.calle %>
                  <%= mi_propiedad.numero %>,
                  <%= mi_propiedad.colonia %>,
                  <%= mi_propiedad.municipio %>
                  <%= mi_propiedad.estado %></p>
                  <p><%= mi_propiedad.m2terreno %> mt2
                  <%= mi_propiedad.m2construccion %> mt2
                  </p>
                  <% if mi_propiedad.user == current_user %>
                    <td><%= link_to 'Ver Ficha Tecnica', mi_propiedad %> / </td>
                    <td><%= link_to 'Editar', edit_mi_propiedad_path(mi_propiedad) %></td> /
                    <td><%= link_to 'Eliminar', mi_propiedad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <% end %>
        <% if user_signed_in? %>
          <center><%= link_to 'New Mi Propiedad', new_mi_propiedad_path %></center>
        <% end %>
    </div>
  </div>
</div>